@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;

	/* Colors and font variables */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(
		--Font-inter,
		ui-sans-serif,
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial
	);
	--font-mono: var(
		--Font-space-mono,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		'Roboto Mono',
		'Courier New',
		monospace
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;

		--color-background: var(--background);
		--color-foreground: var(--foreground);
		--font-sans: var(
			--Font-inter,
			ui-sans-serif,
			system-ui,
			-apple-system,
			'Segoe UI',
			Roboto,
			'Helvetica Neue',
			Arial
		);
		--font-mono: var(
			--Font-space-mono,
			ui-monospace,
			SFMono-Regular,
			Menlo,
			Monaco,
			'Roboto Mono',
			'Courier New',
			monospace
		);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}
